<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23498166260-6g4am6hsnofbifcqm1961ghuq99j130o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23498166260-6g4am6hsnofbifcqm1961ghuq99j130o</string>
	<key>API_KEY</key>
	<string>AIzaSyCMN6amfGyMwtjZrk7Q_B2a3SLvZUF0gYc</string>
	<key>GCM_SENDER_ID</key>
	<string>23498166260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Abs.AI.authenticationTask</string>
	<key>PROJECT_ID</key>
	<string>mali-gali-task1</string>
	<key>STORAGE_BUCKET</key>
	<string>mali-gali-task1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23498166260:ios:68447f6737bf0077edb3a1</string>
</dict>
</plist>